html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Work Sans', sans-serif;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	--accent: #d65e00;	
	--lightgrey: #d4d4d4;	
	--darkgrey: #666666;

} body {
	background: var(--darkgrey);
	width: 100vw;

}

.underline {
	width: 50px;
	height: 3px;
	background: var(--accent);
	align-self: center;
	margin-bottom: 30px;
	
}

h4 {
	font-weight: 500;
	font-size: 24px;
}

h3 {
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 500;

}
nav li > a:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: 20%;
  left: 20%;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.dropdown li > a:before {
	left: 15%;
}
nav li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav {

	display: -webkit-box;
	display: flex;
	text-align: center;
	        -webkit-box-pack: justify;

	            -ms-flex-pack: justify;

	                justify-content: space-between;
	width: 100%;
	max-width: 1366px;
	align-self: center;
	height: 8vh;
	max-height: 100px;
	min-height: 90px;
	margin: auto;
}
.secondary {
	background: #595958;
}
.logo-header {

 
}
.logo-header img {
	
	margin: 0.5vh 0 0 2vw;
}
.logo {
	padding: 3px;
	-webkit-filter: brightness(250%);
	        filter: brightness(250%);
	width: auto;
	height: 80px;                                                     
}

nav a:hover {
	color: white;
	font-weight: normal;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* 
nav  .active a {
	color: white;
	border: 1px solid white;
} */



.menu li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
	display: block;
	background: var(--darkgrey);
}
/* 
.menu li:hover a {
	border: none;
}
.menu li:hover ul li a{
	border: 1px solid white;
}
nav .inactive a {
	border: none !important;
} */

.menu li ul li {
	clear: both;
	align-self: center;
	background: var(--darkgrey);
}
li {

    color: #fff;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  
}

li:hover,
li:focus-within {
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
    visibility: hidden;
  opacity: 0;
  width: 240px;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
    left: 0;
  display: none;
  margin-left: 0;
  padding-left: 0;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
    clear: both;
  text-align: left;
}

ul li ul li:nth-of-type(3) {
	margin-bottom: 20px;
}

#landing {
margin-top: -100px;
	height: 97vh;
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(../images/background2.JPG) no-repeat center center fixed;
background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/background2.JPG) no-repeat center center fixed;
  background-size: cover;

  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
 
}
.slide {
	height: 100%;
	width: 60vw;
}
.banner {
  -ms-flex-item-align: start;
	        align-self: flex-start;
 
	    height: 120vh;
	width: 100%;
	min-width: 450px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	            }
	              
.banner h1,
.banner h2 {
	
	color: white;
	text-align: center;

	font-family: 'Work Sans', sans-serif;




}
.banner h1 {
	margin: 0;
		font-size: 85px;
	font-weight: 500;
}


.banner h2 {
	
	margin: 0;
	margin-right: 0;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	color: var(--lightgrey);
	/*width: 300px;*/
	
	
}

.banner-border {
	/*border: 2px solid black;
	background: rgba(0,0,0,0.4);*/
	padding: 5vh 5vw;
	text-align: center;

}
.buttons {
	margin-top: 40px;
	width: 30%;
	display: flex;
	justify-content: center;
}
.button {
	background: var(--accent);
	color: white;
	opacity: 1;
	text-align: center;
	padding: 8px 12px;
	border-radius: 5px 5px;
	text-decoration: none;
	font-size: 20px;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	margin: auto 20px;
	
	min-width: 150px;

}	

.button:hover {
	background: rgba(214, 94, 0, 0.7);
	transition: all 0.7s ease;
}
.down {
	margin: auto auto 20px auto;

}
.arrow {
	
	width: 50px;
	fill: var(--lightgrey);
	
}
.arrow:hover {
	
	fill: white;
	transition: all 0.3s ease;
}

.info-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1366px;
	align-self: center;
	align-content: center;
	min-height: 500px;
	
}

.info-section:nth-of-type(3),
.info-section:nth-of-type(7),
.info-section:nth-of-type(8) {
	border-top: 0.5px solid #cecece;

}

.info-section a {
	text-decoration: underline;
}

.info-section a i {
	padding-left: 5px;
}
.main-list {
	padding-left: 0;
	margin-left: 0;
	list-style-type: disc;
}
.main-list li {
	color: black;
	padding: 0;
	margin: 0;
	width: 100%;
}
.about {
	max-width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	background: #f4f4f4;
}
.about h3 {
	margin-top: 80px;
}
.text {
	flex-basis: 50%;
	
	min-width: 500px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-content: center;
}
.text p {
	text-align: left;
	max-width: 70%;
	margin: auto;
}

.section-header {
	font-size: 20px;
	font-weight: 500;
}
.right {

	margin-left: 0;
}
.right p {
	
	margin: auto 50px auto 150px;
}
.small-image {	
	flex-basis: 50%;
	align-self: center;
	
	z-index: 100;
	
}

.small-image {
	margin-right: 50px;
}
.left {
	margin-left: 0;
	
}
.small-image img {
	max-width: 600px;

	margin: 40px 0;
	
	z-index: 1000;
}

.logo-image img {
	padding: 40px;
	max-width: 320px;
}

.about h5 {
	margin: 100px auto 50px auto;
	font-size: 1.5em;
}

.banner2 {
	height: 70vh;
	margin-top: 100px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(214, 94, 0, 0.45)), to(rgba(214, 94, 0, 0.45))), url(../images/background2.JPG) no-repeat center center fixed;
background: linear-gradient(rgba(214, 94, 0, 0.8), rgba(214, 94, 0, 0.8)), url(../images/background2.JPG) no-repeat center center fixed;
  background-size: cover;

  width: 100%;
}

.banner2 h4 {
	color: #fff;
}

footer {
	background: var(--darkgrey);
	color: white;
	max-height: 80px;
	min-height: 60px;
	margin-bottom: 0;
	position: absolute;
	width: 100vw;
}
footer ul {
	background: var(--darkgrey);

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	list-style: none;
	padding-left: 0;
	
}


footer a {
	text-decoration: none;
	color: white
}
footer a:hover {
	color: #E9751A;
	text-decoration: underline;
}

/* Services pages */

.services-section {
	min-height: 100vh;
	width: 100%;
	background: white;

	
}
.services {

	width: 100%;
background: white;
	max-width: 1366px;
	margin: auto;
	height: auto;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services h3 {
	margin: 100px auto 0 auto;
}

.service-main {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;

}

.service-card {
	align-content: center;
	
	min-height: 300px;
	min-width: 550px;
	margin: 20px;
	flex-basis: 25%;
}

.service-card img {
	width: 100%;
}


.service-card img:active {
}
.service-card img:hover .services-section {
	background: red;
}
/*about page*/
.about-page {
	background: white;
	border-bottom: 1px solid rgba(172,172,171, 0.5);
	margin: 0 auto 0 auto;
	
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;

}

.about-page h3 {
	max-width: 800px;
			
	text-align: left;
	align-self: center;
	margin: auto auto 20px auto;
}
.about-page p {
	  text-align: left;
	    font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: #707070;
	max-width: 800px;
	margin: auto;
	align-self: center;
}
.about-me {
	max-width: 1366px;
	width: 70%;
	margin: 20vh;
	padding-bottom: 50px;
}

.about-company {
	max-width: 1366px;
	width: 70%;
	margin: 20vh auto 10vh;

}

/*contact page*/
.contact {
	min-height: 90vh;
	background: white;
	display: flex;
	padding-top: 100px;
	align-items: center;
	flex-direction: column;

}
.contact-section {
	margin-top: 30px;
	max-width: 1366px;
	display: flex;
	
}

.form {
	flex-basis: 60vw;
	max-width: 600px;
	margin-left: 40px;
	justify-content: center;
	align-content: center;
	align-self: flex-start;
	
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:10px 60px ;
	align-self: flex-start;
			
  }
  label {
	  display: block;
	 
  }

  .full {
	  grid-column: 1 / 3;
  }

  input, textarea {
	  background: transparent;
	  width: 100%;
	  padding: 1em;
	  border: 2px solid black;
	  border-radius: 3px;
  }
form p {
	margin: 0;
}

  
  [type="submit"] {
	width: 40%;
	background: var(--accent);
	border:0;
	cursor:pointer;
	color:#fff;
	font-size:20px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	font-weight:700;
	max-width: 200px;
  
  }
  .bold {
	  color: var(--accent);
	  font-weight: 600;
  }
  .contact-details {
	flex-basis: 30vw;
	margin-left: 100px;
	align-self: flex-start;
	margin-top: 20px;
  }

  .contact-details p {
	margin: 0;
}
.contact-details h6 {
	margin: 0;
}
.numbers {
	margin-top: 30px;
}

.address h4 {
	margin-bottom: 5px;
}

i {
	font-size: 15px;

}

.footer-links {
	
	text-decoration: underline;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1300px) {
	.info-section img {
		max-width: 500px;
		margin-right: 50px;
	
	}

	.info-section p {
		max-width: 90%;
		margin-left: 100px;
	}

	.banner h4 {
		margin: auto 10vw;
	}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) { 
	.info-section {
		flex-direction: column;
	}
	.info-section img {
		margin-right: 0;
	}
	.small-image {
		margin-right: 0;
	}
	.info-section p {
		
		width: 500px;
		align-self: center;
		margin: 20px 0;
	}
}

@media only screen and (max-width: 780px) {
	.contact-section {
		flex-direction: column;
		margin-left: 0;
	}
	.contact-section .form {
		margin-left: 0;
		max-width: 320px;
	}
	.contact-details {
		min-height: 300px;
		margin-left: 0px;
	}

	.feedback-input, textarea {
		max-width: 320px;
		padding: 13px 2px;
	}

	textarea {
		height: 90px;
	}


}


@media only screen and (max-width: 640px) {
	.logo-header img {
		height: 50px;
		margin: 1vh 0 0 4vw;

	}
	.menu li {
		padding: 0.2em;

	}
	.menu {
		padding-right: 1em;
	}

	.banner h1 {
		font-size: 60px;
	}
	.banner h2 {
		font-size: 20px;
	}

}


@media only screen and (max-width: 515px) {
	.logo-header img {
		height: 35px;
		margin: 1vh 0 0 4vw;

	}
	.menu li {
		padding: 0;
		font-size: 12px;
	}
	.menu li a {
		padding: 5px 6px;
	}
	.menu {
		margin-left: -11vw;
		padding-right: 4vw;
	}
	.banner {
		min-width: 0;
	}
	.banner h1 {
		font-size: 40px;
	}
	.banner h2 {
		font-size: 16px;
	}

	.banner .button  {
		font-size: 16px;
		padding: 4px 6px;
		margin: 0 10px;
	}

	h3 {
		font-size:20px;
	}

	.section-header {
		font-size: 16px;
	}

	.info-section p {
		width: 90vw;
		max-width: 330px;
	}

	.small-image {
		text-align: center;
		align-items: center;
		margin-left: 0;
	}
	.small-image img {
		width: 90vw;
		max-width: 330px;
		align-self: center;
		text-align: center;
	}
	footer ul {
		flex-direction: column-reverse;
		align-content: center;
		justify-content: center;
	}
	footer ul li {
		justify-items: center;
		width: 90vw;
		margin: auto;
		text-align: center;
		align-self: center;
	}
	footer ul li:nth-of-type(2) {
		width: 1px;
		padding: 1px;
	}

	.service-card {
		min-width: 300px;
	}

	.service-card h4 {
		text-align: center;
		font-size: 16px;
	}
	.service-card img {
		max-width: 330px;
		align-self: center;
text-align: center;		
	}

	
	.service-card p {
		max-width: 330px;
		
	}

}