/* The Modal (background) */
.modal-window {
    opacity: 0; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    pointer-events: none;
    -webkit-transition:
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition:
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition:
    transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition:
    transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal.visible {
  pointer-events: auto;
  opacity: 1;

  -webkit-transition:
    opacity 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  transition:
    opacity 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  transition:
    transform 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  transition:
    transform 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

button {
    background: none;
    border: none;
    color: white;
    width: 100%;
    min-width: 130px;
}
button:focus {
    border: none;
}

/* Modal Content */
.modal-content {

    background-color: white;
    margin: auto;
    color: #07171C;
    padding: 20px;
    border-radius: 5px 5px;
    width: 80%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

/* The Close Button */
.close {
    color: #c5beba;
    float: right;
    font-size: 28px;
    font-weight: bold;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content img {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

    
}

.service p {
    text-align: justify;
}
.service h2,
.service h3,
 h1 {
    margin-left: 10vw;
}

.service-section {
    padding-top: 10vh;
        border-bottom: 1px solid rgba(172,172,171, 0.5);

}

.service h4 {
  
    border-bottom: 1px solid rgba(172,172,171, 0.5);
    font-weight: 500;
    font-size: 20px;
    min-height: 60px;
}
.service p {
    color: #707070;
    font-weight: 400;
}

.learn-more button {
    outline: none;
    font-size: 16px;

    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.container:hover {
    cursor: pointer;
}
.learn-more button:focus {
    outline: none;
    border: 1px solid white;
    -webkit-box-shadow: none;
            box-shadow: none;
}

